include ./article__text/article__text

mixin article(range, headline)
    article.article
        <h#{range}>
            +colorfull-headline({second: {size: 63, text: headline}})
        </h#{range}>
    +article__text
        if block
            +text
                block
