include ./company-adress__icon/company-adress__icon

mixin company-adress(type, address)
    address.company-adress
        +company-adress__icon(type)
        span.company-adress__adress= address
        
