.catering__article
    width: 40.473%
    float: left
    clear: both
    @media screen and ( max-width: 1024px)
        width: 47%
    @media screen and ( max-width: 768px)
        width: calc(#{LagrangeCalc(100%, (768 768*0.7, 320 320*0.95))})
        float: none
        margin:
            left: auto
            right: auto
            bottom: 10%
