//- mixins
include ./modules/colorfull-headline/colorfull-headline
include ./modules/phone/phone
include ./modules/nav/nav
include ./modules/link/link
include ./modules/text/text
include ./modules/button/button
include ./modules/article/article
include ./modules/switcher/switcher
include ./modules/form/form
include ./modules/company-adress/company-adress
include ./modules/social-link/social-link
include ./modules/button-picture/button-picture.pug

//- document
doctype html
html(lang='en')
    head
        title= htmlWebpackPlugin.options.title 
        meta(charset='utf-8')
        meta(name="description" content="simple landing")
        meta(name="author" content="Dmitrtiy Orlov")
        meta(name="keywords", content="landing learning")
        meta(name="resouce-type" content="document")
        meta(name="url" content="https://example.org")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href != require('./index.sass').default)
    body
        include ./modules/header/header
        include ./modules/berry/berry
        include ./modules/our-story/our-story
        include ./modules/banner/banner
        include ./modules/breakfast/breakfast
        include ./modules/catering/catering
        include ./modules/reservation/reservation
        include ./modules/footer/footer