include ./our-story__things/our-story__things
    
a(id="our-story")
section.our-story
    include ./our-story__headline/our-story__headline
    include ./our-story__text/our-story__text
    include ./our-story__read-more/our-story__read-more
    +our-story__things('berry')
    +our-story__things('orange')
    +our-story__things('orange1')
    +our-story__things('berry1')