extends ../../form/form

mixin reservation__form
    .reservation__form
        +form(3)
            block headline
                +colorfull-headline({second: {size: 63, text: 'Book your table'}})
            block input
                +form__input('Name')
                +form__input('Email')
                +form__input('Date')
                +form__input('Time')
                +form__input('People')
            block submit
                | FIND A TABLE