mixin header__things(thing)
    img(
        src!=require(`./modules/header/header__things/assets/header__things_${thing}.png`).default
        alt!=`thing ${thing}`
        class='header__things header__things_' + thing
    )