mixin social-link__icon(type)
    img(
        src!= require(`./modules/social-link/social-link__icon/asssets/social-link_${type}.png`).default,
        alt = 'social icon' + type
        class='social-link__icon'
    )