.header__nav
    +nav(
        {name: 'HOME', source: 'home'},
        {name: 'MENU', source: 'menu'},
        {name: 'OUR STORY', source: 'our-story'},
        {name: 'CONTACT US', source: 'contact-us'}
    )