extends ../list/list.pug

mixin item
    +menu-item('Royal breakfast',4, 15)
        |Fried eggs, fried bacon, toast, fresh tomato salad,
        |cup of coffee or tea

block items
    +list-item
        +item
    +list-item
        +item
    +list-item
        +item