.footer__social
    +social-link({type: 'instagram', url: '#'})
    +social-link({type: 'facebook', url: '#'})
    +social-link({type: 'twitter', url: '#'})
    +social-link({type: 'whatsapp', url: '#'})