include ../../menu-item/menu-item


section.breakfast__menu
    h2
        +colorfull-headline({first: {size: 29, text: 'FROM THE MENU'}})
    include ../breakfast__second-headline/breakfast__second-headline
    include ../breakfast__menu-list
