mixin colorfull-headline(data)
    span.colorfull-headline
        if data.first
            span(class =`
                colorfull-headline__first
                colorfull-headline__first_size_${data.first.size}`
            )!= data.first.text
        if data.second && data.first
            br
        if data.second
            span(class =`
                colorfull-headline__second
                colorfull-headline__second_size_${data.second.size}`
            )!= data.second.text