include ./header__things/header__things

header.header
    a(id="header")
    include ./header__phone/header__phone
    include ./header__open-nav/header__open-nav
    include ./header__nav/header__nav
    include ./header__headline/header__headline
    +header__things('sauce')
    +header__things('bred')
    +header__things('tomato')